// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap/scss/bootstrap";
* {
    font-family: 'Cairo', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: .9rem;
}
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

.text-dell {
    text-decoration: line-through !important;
}
.transition {
    transition: all 0.8s ease-in-out;
}
.card.rating {
    .rateContainer {
        transition: all 0.5s linear;
        &:hover {
            margin: 0 1rem;
        }
    }
}
.spinner-border {
    vertical-align: middle;
}
.toast {
    bottom: 0;
    z-index: 99;
}
.fast {
    transition-duration: .5s;
}
.footer {
    .copy {
        span, a {
            font-size: large;
        }
        a:hover {
            color: #ff5252 !important;
        }
    }
}
